{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "globals": {
    "document": 1
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "react/forbid-prop-types": 0,
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
