{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "globals": {
    "document": 1,
    "ENV_PRODUCTION": 1,
    "window": 1
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "jsx-a11y/anchor-is-valid": [
      "warn",
      {
        "aspects": [
          "invalidHref"
        ]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}